<div class="row">
  <h1>To Do List</h1>
</div>
<hr />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Task to do:</th>
      <th>Date due:</th>
      <th>Actions:</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in items | filter:query">
      <td class="col-md-7 col-sm-7 col-xs-7">
        {{item.name}}
      </td>
      <td class="col-md-3 col-sm-3 col-xs-3">
        {{item.date}}
      </td>
      <td class="col-md-2 col-sm-2 col-xs-2">
        <button type="button" class="btn default" ng-click="moveUp($index)" ng-disabled="$first">
          <i class="glyphicon glyphicon-chevron-up"></i>
        </button>
        <button type="button" class="btn default" ng-click="moveDown($index)" ng-disabled="$last">
          <i class="glyphicon glyphicon-chevron-down"></i>
        </button>
        <button type="button" class="btn btn-danger" ng-click="deleteItem($index)">
          <i class="glyphicon glyphicon-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<form class="form form-inline" ng-submit="addItem(item)">
  <fieldset>
    <legend>
      Add new todo item
    </legend>
    <div class="form-group">
      <label class="control-label" for="todo_name">Enter todo:</label>
      <input type="text" id="todo_name" name="todo_name" class="form-control" ng-model="item.name" />
    </div>
    <div class="form-group">
      <label class="control-label" for="todo_date">Enter date due:</label>
      <input type="text" id="todo_date" name="todo_date" class="form-control" ng-model="item.date" />
    </div>
    <button type="submit" class="btn btn-success">Add Todo</button>
  </fieldset>
</form>